<!-- Form to Create a Group -->
<div *ngIf="!isAdmin" class="alert alert-warning text-center">
  <h4>This is an Admin Only Page</h4>
</div>

<div *ngIf="isAdmin">
  <form (ngSubmit)="createGroup()" class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg p-4">
          <h4 class="text-center mb-4">Create Group</h4>

          <!-- Base Channel Input -->
          <div class="form-group mb-3">
            <label for="channels" class="form-label">Base Channel</label>
            <input
              type="text"
              id="channels"
              [(ngModel)]="groupData.channels"
              name="channels"
              class="form-control"
              required
            />
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary w-100 mt-3">Create</button>
        </div>
      </div>
    </div>
  </form>
</div>

